@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root {
	--White: hsl(0, 0%, 100%);
	--Light_gray: hsl(212, 45%, 89%);
	--Grayish_blue: hsl(220, 15%, 55%);
	--Dark_blue: hsl(218, 44%, 22%);
	--font: 'Outfit';
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: var(--Light_gray);
	Font-size: 15px;
	font-family: var(--font);
}

.card{
	background: var(--White);
	border-radius: 20px;
	margin: 0 auto;
	margin-top: 100px;
	width: 50%;
	max-width: 350px;
	padding: 20px;
	box-shadow: 0px 5px 20px 5px var(--Grayish_blue);
}
.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.card__code img{
	border-radius: 15px;
	width: 100%;
}

.card__title{
	font-size: 25px;
	font-weight: 700;
	color: var(--Dark_blue);
	margin-top: 20px;
	text-align: center;
}

.card__paragrap{
	font-size: 18px;
	font-weight: 400;
	color: var(--Grayish_blue);
	margin-top: 20px;
	text-align: center;
	padding-bottom: 20px;
}

@media screen and (max-width: 700px) {
	.card{
		width: 80%;
	}
}